// COLORS
$primary-color: #22223b;
$secondary-color: #ff57bb;
$terciary-color: #d82ce1;
$text-color: #f7f7f2;
$card-color: #474056;
$card-color-op: rgba(71, 64, 86, 0.5);



// FONTS
$logo-font: "Oswald", sans-serif;
$title-font: "Roboto", sans-serif;