@import "./mixins";

.pf-main{
    grid-area: main;
}

.index-main{
    @include flexbox(flex, column, center, center);
    height: 80%;
    gap: 3rem;

    &__title{
        color: $secondary-color;
        text-align: center;
        font-family: $title-font;
        font-size: 2.5rem;
    }
    &__subtitle{
        color: $text-color;
        text-align: center;
    }
    &__a{
        color: $text-color;
        background-color: $secondary-color;
    }

}